*.filters
.vs
*/.vs
*.vcxproj
/CMakeFiles
/CMakeCache.txt
*.sln
*.user
!*DotSettings.user
*/CMakeFiles/*
ImportedFiles/*
Debug/*
Release/*
*cmake_install.cmake
Antarctica/*.dir/*
Renderer/*.dir/*
ThirdParty/*.dir/*
x64/*
[B|b]uild/*